[class*="slick-slider"] {
    width: 100%;
    height: 100%;

    [class*="slick-next"] {
        display: none !important;
    }

    [class*="slick-prev"] {
        display: none !important;
    }

    [class*="slick-list"] {
        [class*="slick-track"] {
            display: flex;
        }
        div {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 813/542;
            }
        }
    }

    [class*="slick-slide"] {
        transform: scale(.8);
        transition: .5s;
        display: flex !important;
        justify-content: center;
    }

    [class*="slick-active"] {
        z-index: 10;
        transform: scale(1);
    }

    [class*="slick-dots"] {
        position: absolute;
        bottom: 15px;
        margin-left: auto;
        margin-right: auto;

        li {
            height: 15px;
            width: 15px;
            margin: 0 5px;

            button {
                width: 100%;
                height: 100%;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 1px solid #0079FB;
                    opacity: 1;
                }
            }
        }

        [class*="slick-active"] {
            button {
                &:before {
                    border: 1px solid #0079FB;
                    background-color: #0079FB;
                }
            }
        }
    }
}

