.Open {
    width: 500px;
    background-color: #fff;
    height: 600px;
    border: solid 1px #e5e5e5;
    border-radius: 30px 30px 0 0;
    flex-direction: column;
    position: fixed;
    right: 60px;
    bottom: 0;
    display: flex;
    transition: ease 0.5s;

    @media screen and (max-width: 625px) {
        width: fit-content;
        bottom: 0;
        width: 100%;
        right: 0;
        height: 80%;
    }
}

.Closed {
    width: 500px;
    height: 600px;
    border: solid 1px #e5e5e5;
    border-radius: 30px 30px 0 0;
    flex-direction: column;
    position: fixed;
    right: 60px;
    bottom: -520px;
    display: flex;
    transition: ease 0.5s;

    @media screen and (max-width: 625px) {
        width: fit-content;
        bottom: calc(-100%);
        width: 100%;
        right: 0;
        height: 80%;
    }
}

.mobileOpenHandler {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    @media screen and (min-width: 625px) {
        display: none;
    }
}
