.sendMessage {
    position: relative;
    padding: 0 20px;

    .Form {
        color: rgb(0, 0, 0);
        border-radius: 30px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 13px;
    }

    .Submit {
        position: absolute;
        display: flex;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
    }
}
