.AppWrapper {
    width: 500px;
    height: 600px;
    border: solid 1px #e5e5e5;
    border-radius: 30px 30px 0 0;
    flex-direction: column;
    position: fixed;
    right: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
