@import "../../../style/mixins";

.Header {
    color: var(--grey);
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    border-radius: 30px 30px 0 0;
    height: 80px;
    p {
        font-family: var(--secondary-font);
        font-weight: bold;
        @include font-size(16);
    }
}

.Perso {
    width: 350px;
    height: fit-content;
    position: relative;
    margin-top: -110px;
    min-width: 350px;
}

.croix {
    width: 30px;
    height: fit-content;
    top: 20px;
    right: 20px;
    position: absolute;

    @media screen and (max-width: 625px) {
        //display: none;
    }
}

.chat {
    display: none;

    @media screen and (max-width: 625px) {
        display: block;
        width: 30px;
        height: fit-content;
        top: 20px;
        right: 20px;
        position: absolute;
    }
}

.open {
    width: 48px;
    height: fit-content;
    top: 20px;
    right: 20px;
    position: absolute;
}
