.form {
    position: absolute;
    display: grid;
    grid-template-areas: "prenom pseudo"
    "email genre"
    "ville cposte"
    "rue mdp"
    "conf inscrire"
    "vide annuler";
    flex-direction: column;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #00000069;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
    border-radius: 30px 30px 0 0;

    .fields {
        background-color: #f1f3f2;
        margin-left: 20px;
        color: black;
        border-radius: 30px;
        padding: 8px 25px;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        margin: 5px;
    }

    .button {
        margin: 5px;
        margin-right: auto;
        background-color: var(--primary-color);
        color: white;
        padding: 8px 25px;
        border-radius: 30px;
        margin-left: auto;
        max-width: 80%;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }

    .cancel {
        grid-area: annuler;
        margin: 5px;
        margin-right: auto;
        background-color: var(--primary-color);
        color: white;
        padding: 8px 25px;
        border-radius: 30px;
        margin-left: auto;
        max-width: 80%;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
}