.Caroussel {
    width: 300px;
    min-height: 200px;
    background-color: #fff;
    border: 2px solid #0079fb;
    border-radius: 10px;
    margin: 20px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 6px rgb(159, 159, 159);
    cursor: pointer;
}

.etoile {
    display: flex;
    height: 15px;
}

.chaussure {
    width: auto;
    height: 120px;
    margin: auto;
}

.price {
    background-color: #0079fb;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px 8px 0 0;
}

.ellipse {
    display: flex;
}
