/*
  Font size in REM with PX
*/
$html-font-size: 16px;

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
@mixin font-size($size) {
    font-size: #{$size}px;
    font-size: rem($size);
}
