@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-font: "Oswald";
        --secondary-font: "Nunito";
        --primary-color: #0079fb;
        --grey: #f1f3f2;
    }
}

@layer base {
    @font-face {
        font-family: Nunito;
        src: url("../fonts/nunito_sans/NunitoSans-Regular.ttf");
        font-weight: normal;
    }
    @font-face {
        font-family: Nunito;
        src: url("../fonts/nunito_sans/NunitoSans-Bold.ttf");
        font-weight: 900;
    }
    @font-face {
        font-family: Oswald;
        src: url("../fonts/oswald/Oswald-Medium.ttf");
    }
}
