$primary-color: var(--primary-color);

.client {
    margin-top: 20px;
    margin-right: 20px;
    background-color: $primary-color;
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    margin-left: auto;
    max-width: 80%;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);

    @media screen and (max-width: 625px) {
        padding: 6px 15px;
        max-width: 90%;
    }
}

.server {
    background-color: #f1f3f2;
    margin-left: 20px;
    color: black;
    border-radius: 30px;
    padding: 8px 25px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    margin-top: 20px;
    max-width: 80%;

    @media screen and (max-width: 625px) {
        padding: 6px 15px;
        max-width: 90%;
    }
}
