@import "../../../style/mixins";

.ProductModal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1.5px solid #0074ed;
    border-radius: 10px;

    &__Title {
        margin-top: 10px;
        @include font-size(24);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    &__SubTitle {
        @include font-size(16);
        font-weight: 600;
        text-align: center;
    }

    &__Color {
        text-align: center;
    }

    &__Size {
        border: 1px solid #007dff;
        border-radius: 50px;
        padding: 5px 10px;
        @include font-size(14);
        cursor: pointer;
    }

    &__Image {
        width: 90%;
        max-height: 250px;
        margin: 5px auto;
        object-fit: cover;
    }
}
