.RegistrationForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #00000069;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 0 0;

.Fields {
    background-color: #f1f3f2;
    margin-left: 20px;
    color: black;
    border-radius: 30px;
    padding: 8px 25px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    margin: 10px;
}

.Registration {
    margin-top: 20px;
    margin-right: auto;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    margin-left: auto;
    max-width: 80%;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.35);
}


}