@import "../../../style/mixins";

.TagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 20px 0 20px;

    &__Tag {
        border: 1px solid #007dff;
        border-radius: 50px;
        padding: 5px 10px;
        @include font-size(14);
        cursor: pointer;
    }
}
