.GaugeWrapper {
    position: relative;
    max-width: 350px;
    width: 100%;
    align-self: center;
    height: 100px;
    &__Gauge {
        width: 100%;
        height: 18px;
        border-radius: 10px;
        background-color: #f8efef;
        border: solid 1px #007bff;
    }
    &__Indicator {
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        background-color: #007bff;
        cursor: grab;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}
